<h1>チーム詳細</h1>
<h2>チーム名</h2>
<p><%= @team.name %></p>
<h2>メンバー</h2>
<% @team.members.each do |member| %>
  <p><%= member.nickname %></p>
<% end %>

<h2>招待</h2>
<%= form_with(model: :assign, scope: :post, url: team_assigns_path(@team), local: true) do |f| %>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <button type="submit">送信</button>
<% end %>

<%= link_to "編集", edit_team_path(@team) %>
<%= link_to "チームを削除", @team, method: :delete, data:{ confirm: "削除しますか？"} %>