<% if post.comments.present? %>
  <p>コメント件数：<%= post.comments.count %></p>
  <% post.comments.each do |comment| %>
    <%= link_to image_tag(comment.user.icon.url),
        user_path(comment.user.id) if comment.user.icon.present?%>
    <%= comment.user.nickname %>
    <%= comment.created_at.strftime('%m/%d %H:%M') %>
    <%= simple_format(h comment.comment) %>
    <% if comment.user == current_user %>
      <div class="comment_delete">
        <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true, data: {confirm: "削除しますか？"}, class: "bootstrap_link" %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>コメントはまだありません</p>
<% end %>
