<% if post.comments.present? %>
  <p>コメント件数：<%= post.comments.count %></p>
  <% post.comments.each do |comment| %>
    <% if comment.user.icon? %>
      <%= link_to image_tag(comment.user.icon.url), user_path(comment.user.id) %>
    <% else %>
      <%= link_to (image_tag "/assets/default_icon.png", size: '50x50'), user_path(comment.user.id) %>
    <% end %>
    <%= comment.user.nickname %>
    <%= comment.created_at.strftime('%m/%d %H:%M') %>
    <%= simple_format(h comment.comment) %>
    <% if comment.user == current_user %>
      <div class="comment_delete">
        <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, remote: true, data: {confirm: "削除しますか？"}, class: "bootstrap_link_black" %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>コメントはまだありません</p>
<% end %>
