<div class="profile-room">
  <header class="header">
    <span class="name">
      <%= @user.nickname %>の部屋
    </span>
  </header>

  <div class="user_info">
    <div class="user_profile">
      <div class="user_flex">
        <% if @user.icon? %>
          <p class="user_flex_item">
            <%= link_to image_tag(@user.icon.url, size: '50x50'), user_path(@user.id) %>
          </p>
          <p class="user_flex_item">
            <%= @user.nickname %>
          </p>
          <% if current_user.id == @user.id %>
            <p class="user_flex_item">
              <%= button_to "プロフィールを編集",  edit_user_registration_path(@user), method: :get %>
            </p>
          <% end %>
        <% else %>
          <p class="user_flex_item">
            <%= link_to (image_tag "default_icon.png", size: '50x50'), user_path(@user.id) %>
          </p>
          <p class="user_flex_item">
            <%= @user.nickname %>
          </p>
          <p class="user_flex_item">
            <% if current_user.id == @user.id %>
              <%= button_to "プロフィールを編集",  edit_user_registration_path(@user), method: :get %>
            <% end %>
          </p>
        <% end %>
      </div>
      <div class="user_introduce">
        <p class="introduce_myself">
          Hi! I am <span class="name"><%= @user.family_name %> <%= @user.first_name %></span>, and please call me <span class="name"><%= @user.nickname %></span>!
        </p>
        <p class="introduce_myself">
          <%= @user.profile %>
        </p>
      </div>
    </div>
    <div class="posts">
      <% if @user.posts.count > 0 %>
        <% @user.posts.order("created_at DESC").each do |user_post| %>
          <div class="post">
            <div class="user_flex">
              <% if user_post.user.icon? %>
                <p class="user_flex_item">
                  <%= link_to image_tag(user_post.user.icon.url, size: '50x50'), user_path(user_post.user.id) %>
                </p>
              <% else %>
                <p class="user_flex_item">
                  <%= link_to (image_tag "default_icon.png", size: '50x50'), user_path(user_post.user.id) %>
                </p>
              <% end %>            
              <p class="user_flex_item"><%= user_post.user.nickname %></p>
            </div>
            <div class="post_content">
              <p class="image"><%= image_tag(user_post.image.url) if user_post.image.present? %></p>
              <p class="text"><%= user_post.content %></p>
            </div>
            <div>
              <p><%= link_to "コメント: #{user_post.comments.count}件", post_path(user_post), class: "bootstrap_link_black" %></p>
            </div>
          </div>
        <% end %>
      <% else %> 
        <div class="post_content">
          <p><%= @user.nickname %>の投稿はまだありません</p>
        </div>
      <% end %>
    </div>
  </div>
</div>
