<div class="chat mb-2">
  <div class="info">
    <p>
      <% if chat.user.icon? %>
        <%= link_to image_tag(chat.user.icon.url, size: '50x50'), user_path(chat.user.id) %>
      <% else %>
        <%= link_to (image_tag "default_icon.png", size: '50x50'), user_path(chat.user.id) %>
      <% end %>

      <%= chat.user.nickname %>
      <%= chat.created_at.strftime('%m/%d/%H:%M') %>
    </p>
  </div>
  <div class="content">
    <p><%= simple_format(h chat.content) %></p>
  </div>
</div>
