<% unless @team.present? %>
  <div class="post-room">
    <nav class="nav_bar">
      <span class="name">
        <%= link_to 'Lounge', new_post_path, class: "bootstrap_link_white" %>
      </span>
    </nav>

    <div id="posts">
      <% @posts.each do |post| %>
        <div class="post">
          <div class="profile_flex">
            <p>
              <% if post.user.icon? %>
                <%= link_to image_tag(post.user.icon.url), user_path(post.user.id) %>
              <% else %>
                <%= link_to (image_tag "/assets/default_icon.png", size: '50x50'), user_path(post.user.id) %>
              <% end %>            
            </p>
            <p><%= post.user.nickname %></p>
          </div>
          <div class="post_content">
            <p><%= image_tag(post.image.url) if post.image.present? %></p>
            <p><%= post.content %></p>
          </div>
          <div class="menu_flex">
              <p><%= link_to 'Show', post, class: "bootstrap_link_black" %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>