<% unless @team.present? %>
  <div class="post-room">
    <nav class="navbar navbar-light">
      <div class="container-fluid">
        <span class="navbar-brand">Lounge</span>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to '投稿', new_post_path, class: "bootstrap_link" %>
          </li>
        </ul>
      </div>
    </nav>

    <div id="posts">
      <% @posts.each do |post| %>
        <div class="post">
          <div class="profile_flex">
            <p><%= link_to image_tag(post.user.icon.url), user_path(post.user.id) if post.user.icon.present? %></p>
            <p><%= post.user.nickname %></p>
          </div>
          <div class="post_content">
            <p><%= image_tag(post.image.url) if post.image.present? %></p>
            <p><%= post.content %></p>
          </div>
          <div class="menu_flex">
              <p><%= link_to 'Show', post, class: "bootstrap_link" %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>