<div class=" dropdown menu_content">
  <button class="btn dropdown-toggle" data-toggle="dropdown">
    <% if current_user.icon? %>
      <%= image_tag current_user.icon.url, class: "icon", size: '50x50', alt: "#{current_user.id}" %>
    <% else %>
      <%= image_tag "default_icon.png", size: '50x50', alt: "#{current_user.id}" %>
    <% end %>
  </button>
  <div class="dropdown-menu dropdowns">
    <%= link_to "マイページ", user_path(current_user.id), class: "dropdown-item dropdown" %>
    <% if current_user.try(:admin?) %>
      <%= link_to "管理画面", rails_admin_path, class: "dropdown-item dropdown" %>
    <% end %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item dropdown" %>
  </div>
</div>
<hr>
<a>
  <%= link_to posts_path, class: "sidebar_link bootstrap_link_white" do %>
    <p class="sidebar_link_name bootstrap_link_white"># ラウンジ</p>
  <% end %>
</a>
<hr>
<%= render 'teams/form', team: Team.new %>
<hr>
<% all_teams_belongs_to.each do |team| %>
  <%= link_to team, class: "sidebar_link bootstrap_link_white" do %>
    <p class="sidebar_link_name bootstrap_link_white"># <%= team.name %></p>
  <% end %>
<% end %>
