<!DOCTYPE html>
<html>
  <head>
    <title>CallMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= link_to "チャット", "/" %>
        <%= link_to "マイページ", user_path(current_user.id) %>
        <% if current_user.try(:admin?) %>
          <%= link_to "管理画面", rails_admin_path %>
        <% end %>
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "新規登録", new_user_registration_path %>
        <%= link_to "ログイン", new_user_session_path %>
      <% end %>

      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
    </header>

    <div id="room-id" data-room-id="<%= @team.try(:id) %>"></div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <%= render 'form', team: Team.new %>
          <hr>
          <% Team.all.each do |team| %>
            <% if team.members.ids.include?(current_user.id) %>
              <%= link_to team do %>
                <div class="card noo-outline mb-2">
                  <div class="card-body">
                    <%= team.name %><br>
                    <%= team.members.count %>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
        <div class="col-9">
          <%= yield %>
        </div>
      </div> 
    </div>
  </body>
</html>
