<!DOCTYPE html>
<html>
  <head>
    <title>CallMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if user_signed_in? %>
      <!-- action cable -->
      <div id="room-id" data-room-id="<%= @team.try(:id) %>"></div>
      <!-- section -->
      <section class="content">
        <!-- side_bar -->
        <div class="left_content">
          <%= render 'layouts/sidebar' %>
        </div>
        <!-- contents -->
        <div class="right_content">
          <%= yield %>
        </div>
      </section>
    <% else %>
      <header class="nav_bar">
        <span class="name">
          <%= link_to "新規登録", new_user_registration_path, class: "bootstrap_link_white" %>
        </span>
        <span class="name">
          <%= link_to "ログイン", new_user_session_path, class: "bootstrap_link_white" %>
        </span>
        <span class="name">
          <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "bootstrap_link_white" %>
        </span>
        <span class="name">
          <%= link_to "管理ゲストとしてログイン", users_guest_admin_sign_in_path, method: :post, class: "bootstrap_link_white" %>
        </span>    
      </header>
      <body>
        <%= yield %>
      </body>
    <% end %>
  </body>
</html>
